<div class="form-container">
  <a routerLink="/members" id="goback">Go back</a>
<br />
  <div class="d-flex flex-column">
    <div>
      First name:
      <input type="text" name="firstname" [(ngModel)]="newUserInfo.firstname">
      Last name:
      <input type="text" name="lastname" [(ngModel)]="newUserInfo.lastname">
      Contact:
      <input type="text" name="contactnumber" [(ngModel)]="newUserInfo.contact">
      Email:
      <input type="text" name="email" [(ngModel)]="newUserInfo.email">
      Organization:
      <input type="text" name="organization" [(ngModel)]="newUserInfo.organization">
      
      <span class="message" *ngIf="usercode" > Code: <h3>{{ usercode }}</h3></span>
      <div class="d-flex" *ngIf="!usercode" >
        <button (click)="addUser()" id="btnLogin" class="basic-btn">Add User</button>
      </div>
      <div class="d-flex" *ngIf="usercode" >
        <button (click)="clearData()" id="btnclear" class="basic-btn">Add another user</button>
      </div>
      <span class="message" *ngIf="message" >{{ message }}</span>
     
    </div>
  </div>