<div class="form-container">
    <!-- <header [@fallIn]="state">
        <button (click)="logout()" class="basic-btn">Go back</button>
      </header> -->

    <a routerLink="/members" id="goback">Go back</a>
    <!-- style="overflow:scroll; height:1000px;"  -->
  <!-- <div *ngFor="let user of users |async">
    <h3>{{user |json}}</h3>
  </div> -->
  <div class="d-flex flex-column">
    <div>
      First name:
      <input type="text" name="firstname" [(ngModel)]="newUserInfo.firstname">
      <br> Last name:
      <input type="text" name="lastname" [(ngModel)]="newUserInfo.lastname">
      <br> Contact:
      <input type="text" name="contactnumber" [(ngModel)]="newUserInfo.contact">
      <br> Email:
      <input type="text" name="email" [(ngModel)]="newUserInfo.email">
      <br> Organization:
      <input type="text" name="organization" [(ngModel)]="newUserInfo.organization">
      <br>

      <div class="d-flex">
        <button (click)="addUser()" id="btnLogin" class="basic-btn">Add User</button>
      </div>
    </div>
  </div>