<div class="form-container" id="toolbar">
  <header [@fallIn]="state">
    <button (click)="logout()" class="basic-btn">Logout</button>
  </header>
  <div id="page" [@moveInLeft]="state">

    <button routerLink="/attendants" id="button_eventattendants" class="buttonstyle">Attendants</button>
    <!-- <button routerLink="/userlist" id="button_userList" class="buttonstyle">User list</button> -->
    <button routerLink="/create" id="button_createuser" class="buttonstyle">Create User</button>
    <!-- <button routerLink="/generatecode" id="button_generatecode" class="buttonstyle">Generate Code</button> -->
    <button routerLink="/checkin" id="button_checkin" class="buttonstyle">Check In</button>
  </div>
  
</div>